<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Alternativer Spielplan</title>
  <link rel="stylesheet" href="../assets/styles/index.css"/>
  <link rel="stylesheet" href="./turniere/Turnier_20XX.css"/>
</head>
<body class="dark">
  <Header class="topbar">
    <a href="../index.html">←  Hauptseite</a>
    <h1>Alternativer Spielplan</h1>
  </Header>
<hr>
<p>
  Falls nur 4 Teams zu Stande kommen, wird folgender Spielstand umgesetzt.
</p>
<table>
  <thead>
  <tr>
    <td colspan = "3">Spielplan für 4 Teams:</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Team A</td>
    <td rowspan="2">Halbfinale 1</td>
    <td rowspan="4">Grande Finale</td>
  </tr>
  <tr>
    <td>Team B</td>
  </tr>
  <tr>
    <td>Team C</td>
    <td rowspan="2">Halbfinale 2</td>
  </tr>
  <tr>
    <td>Team D</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan = "3">Falls 16 Teams zustande kommen: <a href="AlternativerSpielplan16Teilnehmer.html">Spielplan16</a></td>
  <tr>
    <td colspan = "5">Falls es zu 8 Teams kommt, klicke <a href="../index.html">hier (Hauptseite).</a></td>
  </tr>
  </tfoot>
</table>
<p>Zurück zur <a href="../index.html">Hauptseite</a></p>
</body>
</html>