<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Alternativer Spielplan</title>
    <link rel="stylesheet" href="../assets/styles/index.css"/>
</head>
<Header>
    <h1>Alternativer Spielplan</h1>
</Header>
    <body class="dark">
        <hr>
        <p>
            Falls 16  Teams zu Stande kommen, wird folgender Spielstand umgesetzt.
        </p>
        <h2 id = "Spielplan">Spielplan</h2>
        <table>
            <thead>
            <tr>
                <td colspan = "5">Spielplan für 16 Teams:</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Team A</td>
                <td rowspan="2">Achtelfinale 1</td>
                <td rowspan="4">Viertelfinale 1</td>
                <td rowspan="8">Halbfinale 1</td>
                <td rowspan="16">Grande Finale</td>
            </tr>
            <tr>
                <td>Team B</td>
            </tr>
            <tr>
                <td>Team C</td>
                <td rowspan="2">Achtelfinale 2</td>
            </tr>
            <tr>
                <td>Team D</td>
            </tr>
            <tr>
                <td>Team E</td>
                <td rowspan="2">Achtelfinale 3</td>
                <td rowspan="4">Viertelfinale 2</td>
            </tr>
            <tr>
                <td>Team F</td>
            </tr>
            <tr>
                <td>Team G</td>
                <td rowspan="2">Achtelfinale 4</td>
            </tr>
            <tr>
                <td>Team H</td>
            </tr>
            <tr>
                <td>Team I</td>
                <td rowspan="2">Achtelfinale 5</td>
                <td rowspan="4">Viertelfinale 3</td>
                <td rowspan="8">Halbfinale 2</td>
            </tr>
            <tr>
                <td>Team J</td>
            </tr>
            <tr>
                <td>Team K</td>
                <td rowspan="2">Achtelfinale 6</td>
            </tr>
            <tr>
                <td>Team L</td>
            </tr>
            <tr>
                <td>Team M</td>
                <td rowspan="2">Achtelfinale 7</td>
                <td rowspan="4">Viertelfinale 4</td>
            </tr>
            <tr>
                <td>Team N</td>
            </tr>
            <tr>
                <td>Team O</td>
                <td rowspan="2">Achtelfinale 8</td>
            </tr>
            <tr>
                <td>Team P</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan = "5">Falls es nur zu 4 Teams kommt: <a href="AlternativerSpielplan.html">Spielplan4</a>.</td>
            </tr>
            <tr>
                <td colspan = "5">Falls es zu 8 Teams kommt (Hauptseite) : <a href="index.html#Spielplan">Spielplan8</a>.</td>
            </tr>
            </tfoot>
        </table>
        <p>Zurück zur <a href="index.html">Hauptseite</a></p>
    </body>
</html>