<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Alternativer Spielplan</title>
        <link rel="stylesheet" href="../styles/index.css"/>
    </head>
    
    <body class="dark">
        <Header>
            <h1>Alternativer Spielplan</h1>
        </Header>
        <hr>
        <p>
            Falls nur 4 Teams zu Stande kommen, wird folgender Spielstand umgesetzt.
        </p>
        <table>
            <thead>
            <tr>
                <td colspan = "3">Spielplan für 4 Teams:</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Team A</td>
                <td rowspan="2">Halbfinale 1</td>
                <td rowspan="4">Grande Finale</td>
            </tr>
            <tr>
                <td>Team B</td>
            </tr>
            <tr>
                <td>Team C</td>
                <td rowspan="2">Halbfinale 2</td>
            </tr>
            <tr>
                <td>Team D</td>
            </tr>
            <tr>
                <td colspan = "3">Falls 8 Teams zustande kommen: <a href="index.html#Spielplan">Spielplan8</a>.</td>
            </tr>
            <tr>
                <td colspan = "3">Falls 16 Teams zustande kommen: <a href="AlternativerSpielplan16Teilnehmer.html">Spielplan16</a>.</td>
            </tr>
        </table>
        <p>Zurück zur <a href="index.html">Hauptseite</a></p>
    </body>
</html>