@media (prefers-color-scheme: dark) {
    :root {
      --bg: radial-gradient(circle, #424242, #323232, #242424, #151515, #000000);

      --container: #535353;
      
      --text: var(--white);
    }
  }
  
.dark {
  --bg: radial-gradient(circle, #424242, #323232, #242424, #151515, #000000);

  --container: #535353;
  
  --text: var(--white);
}