@media (prefers-color-scheme: light) {
  :root {
    --bg: #fdfdfd;

    --container: #c5c4c4;
    
    --text: var(--black);
  }
}

.light {
  --bg: #fdfdfd;

  --container: #c5c4c4;
  
  --text: var(--black);
}