@media (prefers-color-scheme: light) {
  :root {
    --bg: radial-gradient(circle, #ffffff, #f1f1f1, #e3e3e3, #d5d5d5, #c7c7c7);

    --container: #c5c4c4;
    
    --text: var(--black);
  }
}

.light {
  --bg: radial-gradient(circle, #ffffff, #f1f1f1, #e3e3e3, #d5d5d5, #c7c7c7);

  --container: #c5c4c4;
  
  --text: var(--black);
}