<!DOCTYPE html>
<html>
    <head>
        <title>Wenn du faul bist</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <canvas width="750" height="585" id="game"></canvas>
        <script src="game.js"></script>
        <div style="display: none;">
            <img id="source" src="../../assets/booooooooooom.png" width="300" height="227" />
            <img id="meme" src="../../assets/meme.png" />
        </div>
    </body>
</html>