@media (prefers-color-scheme: dark) {
    :root {
      --bg: #1A1E23;;
      --text: var(--white);
      
      --light_text: #cccccc;
    }
  }
  
.dark {
  --bg: #282828;

  --container: #535353;
  
  --text: var(--white);
}