<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turnier 2020</title>
    <link rel="stylesheet" href="../../styles/index.css"/>
    <link rel="stylesheet" href="../../styles/tournamentPodium.css">
</head>
<Header>
    <h1>Tischtennisturnier 2020</h1>
</Header>
<body>
<hr>
<h2>Allgemeine Daten des Turniers</h2>
<table>
    <tr>
        <td>Turniernummer</td>
        <td>2020-1</td>
    </tr>
    <tr>
        <td>Datum</td>
        <td>07.06.2020</td>
    </tr>
    <tr>
        <td>Ort</td>
        <td>DHBW Stuttgart</td>
    </tr>
</table>
<hr>
<h2>Teilnehmerliste</h2>
<table>
    <thead>
    <tr>
        <td>Team</td>
        <td>Teamname</td>
        <td>Spieler 1</td>
        <td>Spieler 2</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td>Tischtennis-Könige</td>
        <td>Maximilian Schmidt</td>
        <td>Anna Müller</td>
    </tr>
    <tr>
        <td>B</td>
        <td>Ping Pong Profis</td>
        <td>Leon Novak</td>
        <td>Sophie Jensen</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Spin-Experten</td>
        <td>Alexander Petrov</td>
        <td>Laura Nowak</td>
    </tr>
    <tr>
        <td>D</td>
        <td>Tischtennis-Stürme</td>
        <td>Emma Dubois</td>
        <td>Finn Schmidt</td>
    </tr>
    <tr>
        <td>E</td>
        <td>Die Schmetter-Künstler</td>
        <td>Hannah Kovač</td>
        <td>David Costa</td>
    </tr>
    <tr>
        <td>F</td>
        <td>Netz-Ninjas</td>
        <td>Amelie Jansson</td>
        <td>Andreas Popescu</td>
    </tr>
    <tr>
        <td>G</td>
        <td>Ball-Artisten</td>
        <td>Sofia Gonzalez</td>
        <td>Antonio Santos</td>
    </tr>
    <tr>
        <td>H</td>
        <td>Schläger-Stürmer</td>
        <td>Johanna Lindström</td>
        <td>Paul Ivanov</td>
    </tr>
    </tbody>
</table>
<hr>
<h2 id="Spielplan">Spielplan</h2>
<table border="1px">
    <thead>
    <tr>
        <td colspan="3">Viertelfinale</td>
        <td colspan="3">Halbfinale</td>
        <td colspan="3">Finale</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A: Tischtennis-Könige<br>Maximilian Schmidt<br>Anna Müller</td>
        <td>3:1</td>
        <td>B: Ping Pong Profis<br>Leon Novak<br>Sophie Jensen</td>
        <td rowspan="2">A: Tischtennis-Könige<br>Maximilian Schmidt<br>Anna Müller</td>
        <td rowspan="2">1:3</td>
        <td rowspan="2">D: Tischtennis-Stürme<br>Emma Dubois<br>Finn Schmidt</td>
        <td rowspan="4">D: Tischtennis-Stürme<br>Emma Dubois<br>Finn Schmidt</td>
        <td rowspan="4">2:3</td>
        <td rowspan="4">F: Netz-Ninjas<br>Amelie Jansson<br>Andreas Popescu</td>
    </tr>
    <tr>
        <td>C: Spin-Experten<br>Alexander Petrov<br>Laura Nowak</td>
        <td>0:3</td>
        <td>D: Tischtennis-Stürme<br>Emma Dubois<br>Finn Schmidt</td>
    </tr>
    <tr>
        <td>E: Die Schmetter-Künstler<br>Hannah Kovač<br>David Costa</td>
        <td>2:3</td>
        <td>F: Netz-Ninjas<br>Amelie Jansson<br>Andreas Popescu</td>
        <td rowspan="2">F: Netz-Ninjas<br>Amelie Jansson<br>Andreas Popescu</td>
        <td rowspan="2">3:1</td>
        <td rowspan="2">G: Ball-Artisten<br>Sofia Gonzalez<br>Antonio Santos</td>
    </tr>
    <tr>
        <td>G: Ball-Artisten<br>Sofia Gonzalez<br>Antonio Santos</td>
        <td>3:2</td>
        <td>H: Schläger-Stürmer<br>Johanna Lindström<br>Paul Ivanov</td>
    </tr>
    </tbody>
</table>
<h2>Gewinnerpodium</h2>
<div id="siegertreppe">
    <br/>
    <p class="podiumsplatz" id="zweiterPlatz">🥈</p>
    <p class="podiumsplatz" id="ersterPlatz">🥇</p>
    <p class="podiumsplatz" id="dritterPlatz">🥉</p>
</div>
<p>Zurück zur <a href="index.html">Hauptseite</a></p>
</body>
</html>
