<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turnier 2021</title>
    <link rel="stylesheet" href="../../styles/index.css"/>
    <link rel="stylesheet" href="../../styles/tournamentPodium.css">
</head>
<Header>
    <h1>Tischtennisturnier 2022</h1>
</Header>
<body class="dark">
<hr>
<h2>Allgemeine Daten des Turniers</h2>
<table>
    <tr>
        <td>Turniernummer</td>
        <td>2021-1</td>
    </tr>
    <tr>
        <td>Datum</td>
        <td>07.06.2021</td>
    </tr>
    <tr>
        <td>Ort</td>
        <td>DHBW Stuttgart</td>
    </tr>
</table>
<hr>
<h2>Teilnehmerliste</h2>
<table>
    <thead>
    <tr>
        <td>Team</td>
        <td>Teamname</td>
        <td>Spieler 1</td>
        <td>Spieler 2</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td>Tischtennis-Titanen</td>
        <td>Luca Müller</td>
        <td>Sofia Rossi</td>
    </tr>
    <tr>
        <td>B</td>
        <td>Ping Pong Pioniere</td>
        <td>Matej Novak</td>
        <td>Isabella Jensen</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Spin-Meister</td>
        <td>David Petrov</td>
        <td>Emilia Nowak</td>
    </tr>
    <tr>
        <td>D</td>
        <td>Tischtennis-Tornados</td>
        <td>Léa Dubois</td>
        <td>Niklas Schmidt</td>
    </tr>
    <tr>
        <td>E</td>
        <td>Die Schläger-Schieber</td>
        <td>Elena Kovač</td>
        <td>Antonio Costa</td>
    </tr>
    <tr>
        <td>F</td>
        <td>Netz-Ninjas</td>
        <td>Matilda Jansson</td>
        <td>Adrian Popescu</td>
    </tr>
    <tr>
        <td>G</td>
        <td>Ball-Springer</td>
        <td>Maria Gonzalez</td>
        <td>Tomás Santos</td>
    </tr>
    <tr>
        <td>H</td>
        <td>Schläger-Rebellen</td>
        <td>Ingrid Lindström</td>
        <td>Lucas Ivanov</td>
    </tr>
    </tbody>
</table>
<hr>
<h2 id="Spielplan">Spielplan</h2>
<table border="1px">
    <thead>
    <tr>
        <td colspan="3">Viertelfinale</td>
        <td colspan="3">Halbfinale</td>
        <td colspan="3">Finale</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A: Tischtennis-Titanen<br>Luca Müller<br>Sofia Rossi</td>
        <td>3:1</td>
        <td>B: Ping Pong Pioniere<br>Matej Novak<br>Isabella Jensen</td>
        <td rowspan="2">A: Tischtennis-Titanen<br>Luca Müller<br>Sofia Rossi</td>
        <td rowspan="2">1:3</td>
        <td rowspan="2">D: Tischtennis-Tornados<br>Léa Dubois<br>Niklas Schmidt</td>
        <td rowspan="4">D: Tischtennis-Tornados<br>Léa Dubois<br>Niklas Schmidt</td>
        <td rowspan="4">2:3</td>
        <td rowspan="4">F: Netz-Ninjas<br>Matilda Jansson<br>Adrian Popescu</td>
    </tr>
    <tr>
        <td>C: Spin-Meister<br>David Petrov<br>Emilia Nowak</td>
        <td>0:3</td>
        <td>D: Tischtennis-Tornados<br>Léa Dubois<br>Niklas Schmidt</td>
    </tr>
    <tr>
        <td>E: Die Schläger-Schieber<br>Elena Kovač<br>Antonio Costa</td>
        <td>2:3</td>
        <td>F: Netz-Ninjas<br>Matilda Jansson<br>Adrian Popescu</td>
        <td rowspan="2">F: Netz-Ninjas<br>Matilda Jansson<br>Adrian Popescu</td>
        <td rowspan="2">3:1</td>
        <td rowspan="2">G: Ball-Springer<br>Maria Gonzalez<br>Tomás Santos</td>
    </tr>
    <tr>
        <td>G: Ball-Springer<br>Maria Gonzalez<br>Tomás Santos</td>
        <td>3:2</td>
        <td>H: Schläger-Rebellen<br>Ingrid Lindström<br>Lucas Ivanov</td>
    </tr>
    </tbody>
</table>
<h2>Gewinnerpodium</h2>
<div id="siegertreppe">
    <br/>
    <p class="podiumsplatz" id="zweiterPlatz">🥈</p>
    <p class="podiumsplatz" id="ersterPlatz">🥇</p>
    <p class="podiumsplatz" id="dritterPlatz">🥉</p>
</div>
<p>Zurück zur <a href="index.html">Hauptseite</a></p>
</body>
</html></title>
</head>
<body>
</body>
</html>
