<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Turnier 2019</title>
    <link rel="stylesheet" href="../../styles/index.css"/>
    <link rel="stylesheet" href="../../styles/tournamentPodium.css">
</head>
<Header>
    <h1>Tischtennisturnier 2019</h1>
</Header>
<body class="dark">
<hr>
<h2>Allgemeine Daten des Turniers</h2>
<table>
    <tr>
        <td>Turniernummer</td>
        <td>2019-1</td>
    </tr>
    <tr>
        <td>Datum</td>
        <td>07.06.2019</td>
    </tr>
    <tr>
        <td>Ort</td>
        <td>DHBW Stuttgart</td>
    </tr>
</table>
<hr>
<h2>Teilnehmerliste</h2>
<table>
    <thead>
    <tr>
        <td>Team</td>
        <td>Teamname</td>
        <td>Spieler 1</td>
        <td>Spieler 2</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td>Die Sieger</td>
        <td>Julian Becker</td>
        <td>Mia Wagner</td>
    </tr>
    <tr>
        <td>B</td>
        <td>Die Champions</td>
        <td>Tom Müller</td>
        <td>Lena Schmidt</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Die Tischtennis-Gurus</td>
        <td>Niklas Weber</td>
        <td>Lara Schäfer</td>
    </tr>
    <tr>
        <td>D</td>
        <td>Die Ping-Pong-Profis</td>
        <td>Maximilian Fischer</td>
        <td>Emilia Hoffmann</td>
    </tr>
    <tr>
        <td>E</td>
        <td>Die Tischtennis-Experten</td>
        <td>Leonard Wolf</td>
        <td>Johanna Schneider</td>
    </tr>
    <tr>
        <td>F</td>
        <td>Die Ballkünstler</td>
        <td>Benjamin Wagner</td>
        <td>Anna Becker</td>
    </tr>
    <tr>
        <td>G</td>
        <td>Die Tischtennis-Assassinen</td>
        <td>Samuel Meyer</td>
        <td>Sophia Weber</td>
    </tr>
    <tr>
        <td>H</td>
        <td>Die Tischtennis-Meister</td>
        <td>Jonas Fischer</td>
        <td>Isabella Schuster</td>
    </tr>
    </tbody>
</table>
<hr>
<h2 id="Spielplan">Spielplan</h2>
<table border="1px">
    <thead>
    <tr>
        <td colspan="3">Viertelfinale</td>
        <td colspan="3">Halbfinale</td>
        <td colspan="3">Finale</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A: Die Sieger<br>Julian Becker<br>Mia Wagner</td>
        <td>3:1</td>
        <td>B: Die Champions<br>Tom Müller<br>Lena Schmidt</td>
        <td rowspan="2">A: Die Sieger<br>Julian Becker<br>Mia Wagner</td>
        <td rowspan="2">1:3</td>
        <td rowspan="2">D: Die Ping-Pong-Profis<br>Maximilian Fischer<br>Emilia Hoffmann</td>
        <td rowspan="4">D: Die Ping-Pong-Profis<br>Maximilian Fischer<br>Emilia Hoffmann</td>
        <td rowspan="4">2:3</td>
        <td rowspan="4">F: Die Ballkünstler<br>Benjamin Wagner<br>Anna Becker</td>
    </tr>
    <tr>
        <td>C: Die Tischtennis-Gurus<br>Niklas Weber<br>Lara Schäfer</td>
        <td>0:3</td>
        <td>D: Die Ping-Pong-Profis<br>Maximilian Fischer<br>Emilia Hoffmann</td>
    </tr>
    <tr>
        <td>E: Die Tischtennis-Experten<br>Leonard Wolf<br>Johanna Schneider</td>
        <td>2:3</td>
        <td>F: Die Ballkünstler<br>Benjamin Wagner<br>Anna Becker</td>
        <td rowspan="2">F: Die Ballkünstler<br>Benjamin Wagner<br>Anna Becker</td>
        <td rowspan="2">3:1</td>
        <td rowspan="2">G: Die Tischtennis-Assassinen<br>Samuel Meyer<br>Sophia Weber</td>
    </tr>
    <tr>
        <td>G: Die Tischtennis-Assassinen<br>Samuel Meyer<br>Sophia Weber</td>
        <td>3:2</td>
        <td>H: Die Tischtennis-Meister<br>Jonas Fischer<br>Isabella Schuster</td>
    </tr>
    </tbody>
</table>
<h2>Gewinnerpodium</h2>
<div id="siegertreppe">
    <br/>
    <p class="podiumsplatz" id="zweiterPlatz">🥈</p>
    <p class="podiumsplatz" id="ersterPlatz">🥇</p>
    <p class="podiumsplatz" id="dritterPlatz">🥉</p>
</div>
<p>Zurück zur <a href="index.html">Hauptseite</a></p>
</body>
</html>
