<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Turnier 2018</title>
        <link rel="stylesheet" href="../../assets/styles/index.css"/>
        <link rel="stylesheet" href="../../assets/styles/tournamentPodium.css">
    </head>
    <body class="dark">
        <Header>
            <h1>Tischtennisturnier 2018 - International</h1>
        </Header>
        <hr>
        <h2>Allgemeine Daten des Turniers</h2>
        <table>
            <tr>
                <td>Turniernummer</td>
                <td>2018-1</td>
            </tr>
            <tr>
                <td>Datum</td>
                <td>07.06.2018</td>
            </tr>
            <tr>
                <td>Ort</td>
                <td>DHBW Stuttgart</td>
            </tr>
        </table>
        <hr>
        <h2>Teilnehmerliste</h2>
        <table>
            <thead>
            <tr>
                <td>Team</td>
                <td>Teamname</td>
                <td>Spieler 1</td>
                <td>Spieler 2</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>A</td>
                <td>The Ping Pong Masters</td>
                <td>Nathan Johnson</td>
                <td>Isabella Rodriguez</td>
            </tr>
            <tr>
                <td>B</td>
                <td>The Table Tennis Titans</td>
                <td>Oliver Smith</td>
                <td>Sofia Kim</td>
            </tr>
            <tr>
                <td>C</td>
                <td>The Spin Wizards</td>
                <td>Maximilian Fischer</td>
                <td>Emilia Hoffmann</td>
            </tr>
            <tr>
                <td>D</td>
                <td>The Paddle Warriors</td>
                <td>Ethan Chen</td>
                <td>Lily Wang</td>
            </tr>
            <tr>
                <td>E</td>
                <td>The Racket Renegades</td>
                <td>Lucas Tremblay</td>
                <td>Amelia Martin</td>
            </tr>
            <tr>
                <td>F</td>
                <td>The Ball Benders</td>
                <td>David Alves</td>
                <td>Mia Schneider</td>
            </tr>
            <tr>
                <td>G</td>
                <td>The Net Ninjas</td>
                <td>Sebastian Rossi</td>
                <td>Luna Silva</td>
            </tr>
            <tr>
                <td>H</td>
                <td>The Smash Masters</td>
                <td>Gabriel O'Connor</td>
                <td>Emily Wong</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <h2 id="Spielplan">Spielplan</h2>
        <table>
            <thead>
            <tr>
                <td colspan="3">Viertelfinale</td>
                <td colspan="3">Halbfinale</td>
                <td colspan="3">Finale</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>A: The Ping Pong Masters<br>Nathan Johnson<br>Isabella Rodriguez</td>
                <td>3:1</td>
                <td>B: The Table Tennis Titans<br>Oliver Smith<br>Sofia Kim</td>
                <td rowspan="2">A: The Ping Pong Masters<br>Nathan Johnson<br>Isabella Rodriguez</td>
                <td rowspan="2">1:3</td>
                <td rowspan="2">D: The Paddle Warriors<br>Ethan Chen<br>Lily Wang</td>
                <td rowspan="4">D: The Paddle Warriors<br>Ethan Chen<br>Lily Wang</td>
                <td rowspan="4">2:3</td>
                <td rowspan="4">F: The Ball Benders<br>David Alves<br>Mia Schneider</td>
            </tr>
            <tr>
                <td>C: The Spin Wizards<br>Maximilian Fischer<br>Emilia Hoffmann</td>
                <td>0:3</td>
                <td>D: The Paddle Warriors<br>Ethan Chen<br>Lily Wang</td>
            </tr>
            <tr>
                <td>E: The Racket Renegades<br>Lucas Tremblay<br>Amelia Martin</td>
                <td>2:3</td>
                <td>F: The Ball Benders<br>David Alves<br>Mia Schneider</td>
                <td rowspan="2">F: The Ball Benders<br>David Alves<br>Mia Schneider</td>
                <td rowspan="2">3:1</td>
                <td rowspan="2">G: The Net Ninjas<br>Sebastian Rossi<br>Luna Silva</td>
            </tr>
            <tr>
                <td>G: The Net Ninjas<br>Sebastian Rossi<br>Luna Silva</td>
                <td>3:2</td>
                <td>H: The Smash Masters<br>Gabriel O'Connor<br>Emily Wong</td>
            </tr>
            </tbody>
        </table>
        <h2>Gewinnerpodium</h2>
        <div id="siegertreppe">
            <br/>
            <p class="podiumsplatz" title="sdsddsd" id="zweiterPlatz">🥈</p>
            <p class="podiumsplatz" id="ersterPlatz">🥇</p>
            <p class="podiumsplatz" id="dritterPlatz">🥉</p>
        </div>
        <p>Zurück zur <a href="index.html">Hauptseite</a></p>
    </body>
</html>
