<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Turnier 2022</title>
        <link rel="stylesheet" href="../../assets/styles/index.css"/>
        <link rel="stylesheet" href="../../assets/styles/tournamentPodium.css">
        <link rel="stylesheet" href="./Turnier_20XX.css">
    </head>

    <body class="dark">
        <Header>
            <h1>Tischtennisturnier 2022</h1>
        </Header>
        <hr>
        <h2>Allgemeine Daten des Turniers</h2>
        <table>
            <tr>
                <td>Turniernummer</td>
                <td>2022-1</td>
            </tr>
            <tr>
                <td>Datum</td>
                <td>07.06.2022</td>
            </tr>
            <tr>
                <td>Ort</td>
                <td>DHBW Stuttgart</td>
            </tr>
        </table>
        <hr>
        <h2>Teilnehmerliste</h2>
        <table>
            <thead>
            <tr>
                <td>Team</td>
                <td>Teamname</td>
                <td>Spieler 1</td>
                <td>Spieler 2</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>A</td>
                <td>Blitzkönige</td>
                <td>Max Müller</td>
                <td>Anna Schmidt</td>
            </tr>
            <tr>
                <td>B</td>
                <td>Spin-meister</td>
                <td>Jonas Wagner</td>
                <td>Laura Klein</td>
            </tr>
            <tr>
                <td>C</td>
                <td>Tischtennis-Tornados</td>
                <td>Timo Fischer</td>
                <td>Julia Becker</td>
            </tr>
            <tr>
                <td>D</td>
                <td>Ping-Pong-Profis</td>
                <td>Luca Schulz</td>
                <td>Sophie Weber</td>
            </tr>
            <tr>
                <td>E</td>
                <td>Schmetterball-Champions</td>
                <td>David Hoffmann</td>
                <td>Lisa Mayer</td>
            </tr>
            <tr>
                <td>F</td>
                <td>Rasante Rückschläger</td>
                <td>Simon Braun</td>
                <td>Lea Schuster</td>
            </tr>
            <tr>
                <td>G</td>
                <td>Ping-Pong-Piraten</td>
                <td>Nico Keller</td>
                <td>Lena Vogel</td>
            </tr>
            <tr>
                <td>H</td>
                <td>Ballzauberer</td>
                <td>Jan Richter</td>
                <td>Sarah Bauer</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <h2 id="Spielplan">Spielplan</h2>
        <table border="1px">
            <thead>
            <tr>
                <td colspan="3">Viertelfinale</td>
                <td colspan="3">Halbfinale</td>
                <td colspan="3">Finale</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>A: Blitzkönige<br>Max Müller<br>Anna Schmidt</td>
                <td>3:1</td>
                <td>B: Spin-meister<br>Jonas Wagner<br>Laura Klein</td>
                <td rowspan="2">A: Blitzkönige<br>Max Müller<br>Anna Schmidt</td>
                <td rowspan="2">1:3</td>
                <td rowspan="2">D: Ping-Pong-Profis<br>Luca Schulz<br>Sophie Weber</td>
                <td rowspan="4">D: Ping-Pong-Profis<br>Luca Schulz<br>Sophie Weber</td>
                <td rowspan="4">2:3</td>
                <td rowspan="4">F: Rasante Rückschläger<br>Simon Braun<br>Lea Schuster</td>
            </tr>
            <tr>
                <td>C: Tischtennis-Tornados<br>Timo Fischer<br>Julia Becker</td>
                <td>0:3</td>
                <td>D: Ping-Pong-Profis<br>Luca Schulz<br>Sophie Weber</td>
            </tr>
            <tr>
                <td>E: Schmetterball-Champions<br>David Hoffmann<br>Lisa Mayer</td>
                <td>2:3</td>
                <td>F: Rasante Rückschläger<br>Simon Braun<br>Lea Schuster</td>
                <td rowspan="2">F: Rasante Rückschläger<br>Simon Braun<br>Lea Schuster</td>
                <td rowspan="2">3:1</td>
                <td rowspan="2">G: Ping-Pong-Piraten<br>Nico Keller<br>Lena Vogel</td>
            </tr>
            <tr>
                <td>G: Ping-Pong-Piraten<br>Nico Keller<br>Lena Vogel</td>
                <td>3:2</td>
                <td>H: Ballzauberer<br>Jan Richter<br>Sarah Bauer</td>
            </tr>
            </tbody>
        </table>
        <h2>Gewinnerpodium</h2>
        <div id="siegertreppe">
            <br/>
            <p class="podiumsplatz" id="zweiterPlatz">🥈</p>
            <p class="podiumsplatz" id="ersterPlatz">🥇</p>
            <p class="podiumsplatz" id="dritterPlatz">🥉</p>
        </div>
        <p>Zurück zur <a href="index.html">Hauptseite</a></p>
    </body>
</html>